@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");
body {
    font-family: 'Roboto', sans-serif;
    padding-left: 124px;
}

body .heading {
    width: 365px;
    height: 93px;
    margin-top: 91px;
    margin-bottom: 18px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: black;
}



body .container {
 
    display: flex;
}

body .container .article {
    margin-right: 190px;
    font-size: 24px;
    max-width: 662px;
    max-height: 374px;
}

body .container .image {
    position: relative;
}

body .container .image img:first-child {
    max-width: 314px;
}

body .container .image img:last-child {
    position: absolute;
    top: 285px;
    left: -22px;
    z-index: -1;
    max-width: 346px;
}

@media (max-width: 834px) {
    body {
        padding-left: 72px;
    }
    body .heading {
        width: 211px;
        height: 53px;
        margin-top: 56px;
        margin-bottom: 10px;
        font-size: 32px;
    }
    body .container {
        display: flex;
    }
    body .container .article {
        max-height: 216px;
        margin-right: 110px;
        font-size: 14px;
        max-width: 383px;
    }
    body .container .image img:first-child {
        max-width: 181px;
    }
    body .container .image img:last-child {
        max-width: 211px;
        left: -20px;
        top: 165px;
    }
}

@media (max-width: 375px) {
    body {
        padding-left: 36px;
    }
    body .heading {
        width: 170px;
        height: 43px;
        margin-top: 56px;
        margin-bottom: 8px;
        font-size: 26px;
    }
    body .container {
        flex-direction: column;
    }
    body .container .article {
        max-height: 175px;
        margin-right: 0;
        font-size: 12px;
        max-width: 308px;
    }
    body .container .image {
        margin: auto;
        margin-top: 15px;
    }
    body .container .image img:first-child {
        max-width: 146px;
    }
    body .container .image img:last-child {
        max-width: 170px;
        left: -14px;
        top: 131px;
    }
}


@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap%22");
.footer {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-top: 45px;
}

.footer .fim {
    position: relative;
    margin-right: 37px;
    width: 232px;
    height: 203px;
}

.footer .fim img:last-child {
    position: absolute;
    left: 31px;
    bottom: -13px;
    z-index: -1;
    width: 189px;
}

.footer .f1 {
    width: 150px;
    margin-left: 95px;
}

.footer .f1 h3 {
    font-size: 27px;
    font-weight: 700;
}

.footer .f1 p {
    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 834px) {
    .footer .f1 {
        width: 86px;
        margin-left: 0;
        margin-right: 55px;
    }
    .footer .fim {
        display: none;
    }
    .footer .f1 h3 {
        font-size: 15px;
    }
    .footer .f1 p {
        font-size: 11px;
    }
}

@media (max-width: 375px) {
    body {
        padding-left: 36px;
    }
    .footer {
        margin-bottom: 45px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer .fim {
        display: none;
    }
    .footer .f1 {
        width: 86px;
    }
    .footer .f1 h3 {
        font-size: 12px;
    }
    .footer .f1 p {
        font-size: 10px;
    }
} 
